{% extends "layouts/base.html" %} {% block content %} {% load static %}

<section class="playlist-details">
  <h1 class="heading">Class details</h1>
  <div class="row">
    <div class="column">
      <div class="thumb">
        {% if class.image == '' %}
        <img src="{% static 'asset/images/thumb-1.png' %}" alt="" />
        {% else %}
        <img src="/{{ class.image }}" alt="" />
        {% endif %}
        <span>{{ class.invite_code }}</span>
      </div>
    </div>
    <div class="column">
      <div class="tutor">
        <img src="/{{ class.created_by.avatar }}" alt="" />
        <div>
          <h3>{{ class.created_by.full_name }}</h3>
          <span>{{ class.created_by.email }}</span>
        </div>
      </div>

      <div class="details">
        <h3>{{ class.name }}</h3>
        <p class="mb-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum minus reiciendis, error sunt veritatis exercitationem
          deserunt velit doloribus itaque voluptate.
        </p>
        <a href="teacher_profile.html" class="inline-btn">view students</a>
      </div>
    </div>
  </div>
</section>

<section class="playlist-videos">
  <div class="d-flex justify-content-between align-items-center mt-3 mb-4">
    <h1 class="heading pb-0">Homework</h1>
    <a data-bs-toggle="modal" data-bs-target="#create-homework" class="fs-2">Create Homework</a>
  </div>
  <div class="box-container">
    {% if not homeworks %}
    <div class="box">
      <h3 class="heading text-center mb-0">Class don't have any homework yet</h3>
    </div>
    {% else %} {% for homework in homeworks %}
    <div class="box">
      <div class="tutor">
        <div class="info">
          <h3>{{ homework.title }}</h3>
        </div>
      </div>
      <div class="thumb">
        {% if homework.image == '' %}
        <img src="{% static 'asset/images/thumb-2.png' %}" alt="" />
        {% else %}
        <img src="/{{ homework.image }}" alt="" />
        {% endif %}
      </div>
      <a href="/class/{{ class.id }}" class="inline-btn">view exam</a>
    </div>

    {% endfor %} {% endif %}
  </div>
</section>
<div class="modal fade" id="create-homework" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="form-container" style="min-height: 0">
        <form id="createHomework" method="post" enctype="multipart/form-data" onsubmit="return false" novalidate>
          {% csrf_token %}
          <div class="modal-header">
            <h3 class="modal-title" id="update-user-info-modal-label">Create Homework</h3>
          </div>
          <div class="modal-body">
            <input type="hidden" value="{{ class.id }}" name="class_id" />
            <div class="form-group">
              <p>Title</p>
              <input type="text" class="form-control box" id="title" name="title" value="" required />
            </div>
            <div class="form-group">
              <p>Description</p>
              <textarea type="text" class="form-control box" id="description" name="description" value="" required></textarea>
            </div>
            <div class="form-group">
              <p>Image</p>
              <input accept="image/*" type="file" class="form-control box" id="image" name="image" />
            </div>
            <div class="form-group">
              <p>File</p>
              <input type="file" class="form-control box" id="file" name="file" />
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <button type="button" class="btn bg-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
