{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>LT Class</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'plugins/toastr/toastr.min.css' %}" />
    <link rel="stylesheet" href="{% static 'asset/css/style.css' %}" />
  </head>
  <body>
    <input type="hidden" id="user_fullname" value="{{ request.session.user.full_name }}">
    <input type="hidden" id="user_role" value="{{ request.session.user.role }}">
    <input type="hidden" id="user_id" value="{{ request.session.user.id }}">
    {% include "includes/header.html" %} {% include "includes/sidebar.html" %} {% block content %} {% endblock content %} 
    {% include "modals/update_profile.html" %} {% include "modals/create_class.html" %} {% include "modals/join_class.html" %}
    <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/jquery/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'plugins/jquery/jquery.validate.min.js' %}"></script>
    <script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>
    <script src="{% static 'asset/js/script.js' %}"></script>
    <script type="module" src="{% static 'asset/js/app.js' %}"></script>
    {% block script %} {% endblock script %}
  </body>
</html>
