{% load static %}
<div class="side-bar border-0 shadow">
  <div id="close-btn">
    <i class="fas fa-times"></i>
  </div>

  <div class="profile">
    <img
      src="{{ request.session.user.avatar_url }}"
      class="image object-fit-cover"
      style="width: 120px; height: 120px; border-radius: 50%"
      alt=""
    />
    <h3 class="name">{{ request.session.user.full_name }}</h3>
    <p class="role">{% if request.session.user.role == 0 %} Teacher {% else %} Student {% endif %}</p>
    <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#update-user-info-modal">view profile</a>
  </div>

  <nav class="navbar d-flex flex-column align-items-baseline">
    <a class="nav-link" href="/"><i class="fas fa-home nav-icon"></i><span>Home</span></a>
    <a class="nav-link" href="/class"><i class="fas fa-restroom nav-icon"></i><span>Classes</span></a>
    <a class="nav-link" href=""><i class="fas fa-chalkboard-user nav-icon"></i><span>Homework</span></a>
    {% if request.session.user.role == 0 %}
    <a class="nav-link" href="/attendance"><i class="fas fa-graduation-cap nav-icon"></i><span>Attendance</span></a>
    {% else %}
    <a class="nav-link" href=""><i class="fas fa-graduation-cap nav-icon"></i><span>Classmate</span></a>
    {% endif %}
    <a class="nav-link" href=""><i class="fas fa-book nav-icon"></i><span>Meeting</span></a>
  </nav>
</div>
