<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LT Class</title>
    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/plugins/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="../static/plugins/toastr/toastr.min.css" />
  </head>
  <body style="background-color: #f2f2f2">
    <main>{% block content %} {% endblock content %}</main>
    <script src="../static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/plugins/jquery/jquery-3.7.1.min.js"></script>
    <script src="../static/plugins/jquery/jquery.validate.min.js"></script>
    <script src="../static/plugins/toastr/toastr.min.js"></script>
    {% block script %} {% endblock script %}
  </body>
</html>
