{% extends "base.html" %} {% block content %}
<div class="container py-5">
  <h1 class="text-center">Register</h1>
  <div class="row mx-auto w-50">
    <form id="formRegister" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3 form-group">
        <label for="fullName" class="form-label">Full Name</label>
        <input type="text" class="form-control" name="fullname" id="fullname" aria-describedby="emailHelp" />
      </div>
      <div class="mb-3 form-group">
        <label for="dateOfBirth" class="form-label">Date of Birth </label>
        <input type="date" class="form-control" name="date_of_birth" id="date_of_birth" />
      </div>
      <div class="mb-2 form-group">
        <label for="avatar" class="form-label">Face ID</label>
        <input type="file" accept="image/*" class="form-control" name="avatar" id="avatar" multiple />
        <p class="form-text mb-0">Maximum: 3 images or 1 capture. Only select images or capture</p>
      </div>
      <div id="or" class="mb-2">
        <label>or</label>
      </div>
      <div class="mb-1">
        <div class="d-flex">
          <button id="capture-btn" class="btn btn-success">Capture</button>
          <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-link text-decoration-none mb-0">
            View tutorial capture
          </button>
        </div>
        <input type="hidden" name="capture_link" name="capture_link" id="capture-link" value="" />
        <img src="" id="capture-img" class="rounded-3 shadow object-fit-cover w-100 my-3" style="max-height: 400px" alt="" />
      </div>
      <button type="submit" class="btn btn-primary form-control">Register</button>
    </form>
  </div>
</div>
<!-- Modal -->
<div class="modal fade modal-md" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Capture turtorial</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="list-unstyled d-flex flex-column gap-3 fw-bold">
          <li>1. Click vào nút capture</li>
          <li>
            2. Mở webcam từ bên dưới thanh taskbar
            <img src="../static/img/taskbar.png" class="rounded w-100 mt-2" alt="" />
          </li>
          <li>
            3. Đưa mặt cho đến khi hiện khung hình
            <img src="../static/img/turtorial.jpg" class="rounded w-100 mt-2" alt="" />
          </li>
          <li>4. Nhấn phím F để chụp</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<style>
  label {
    font-weight: bold;
  }
</style>
{% endblock content %} {% block script %}
<script>
  $(document).ready(function () {
    $("#capture-btn").click(function (e) {
      if ($("#avatar").val()) {
        e.preventDefault();
        return;
      }
      e.preventDefault();
      $.ajax({
        url: "/capture",
        type: "GET",
        success: function (response) {
          $("#capture-link").val(response);
          let file_name = response.split("\\").pop();
          $("#capture-img").attr("src", "../static/data/" + file_name);
        },
        error: function (error) {
          console.log(error);
        },
      });
    });

    $("#avatar").click(function (e) {
      if ($("#capture-img").attr("src") !== "") {
        e.preventDefault();
        return;
      }
    });

    $("#formRegister").validate({
      rules: {
        fullname: {
          required: true,
          minlength: 10,
          maxlength: 50,
        },
        date_of_birth: {
          required: true,
        },
      },
      messages: {
        fullname: {
          required: "Please enter your full name",
          minlength: "Your full name must be at least 10 characters long",
          maxlength: "Your full name must be at most 50 characters long",
        },
        date_of_birth: {
          required: "Please enter your date of birth",
        },
      },
      errorElement: "span",
      errorPlacement: function (error, element) {
        error.addClass("invalid-feedback");
        element.closest(".form-group").append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass("is-invalid");
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass("is-invalid");
      },
      submitHandler: function (form) {
        $.ajax({
          url: "/register",
          type: "POST",
          data: new FormData(form),
          processData: false,
          contentType: false,
          success: function (data) {
            <!-- use toastr -->
            if (data.status == 200) {
              toastr.success(data.message);
              setTimeout(function () {
                window.location.href = "/";
              }, 1000);
            } else {
              toastr.error(data.message);
            }
          },
          error: function (error) {
            toastr.error("No face detected, please select other images or capture");
          },
        });
      },
    });
  });
</script>
{% endblock script %}
